 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head" />
<link rel="stylesheet" href="../static/style.css" type="text/css" th:href=@{/style.css}/>

<script src="../static/circuits.js" th:src="@{/circuits.js}"></script>
<script th:src="@{/openlayers.js}"></script>
<title>Insert title here</title>
</head>
<body>
	<header th:replace="layout::site-header" />
	<div class="page">
		<div class="container">
		<div class="card">
           <div class="card-header">
           		<a type="button" class="btn btn-primary" th:href="@{'../location/'+${entite.id}}"> location </a>
           		<button id="ajouter" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapModal"> ajouter </button>
           		<form th:action="@{'../savek/'+${entite.id}}" enctype="multipart/form-data" method="post">
           		<input type="file" name="kml" />
           		<button id="ajouter" type="submit" class="btn btn-primary"> envoyer kml </button>
           		</form>
           </div>
          </div>
		<table id="points" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
               <th>Nom</th>
               <th>kilometrage</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
       		<tr th:each="c : ${circuits}">
				<td th:text="${c.nom}">nom</td>
				<td th:text="${c.kilometrage_circuit}">kilometrage_circuit</td>
				<td class="center">
				<button type="button" class="btn btn-primary buttSup" data-toggle="modal" data-target="#exampleModalCenter">
	  			supprimer
	  			<div class="id" th:text="${c.id}" style="display: none"></div>
				</button>
				<button type="button" class="btn btn-primary buttEd" data-toggle="modal" data-target="#editeModal">
	  			editer
	  			<div class="id" th:text="${c.id}" style="display: none"></div>
	  			<div class="nom" th:text="${c.nom}" style="display: none"></div>
	  			<div class="hlp" th:text="${c.km_HLP}" style="display: none"></div>
	  			<div class="autre" th:text="${c.autre}" style="display: none"></div>
				</button>
				<a href="/point" th:href="@{'/point/'+${c.id}}"> 
				<button type="button" class="btn btn-primary"> details </button></a>
				
				</td>
			</tr>
        </tbody>
    	</table>
    </div>
     </div>
       
       
     <!--   supprimer modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">supprimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red" >
      vous voulez vraiment supprimer cette entite ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="submit" class="btn btn-primary" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>  
         <!-- ajouter modal/edite -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ajouter entite </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="savec" action="#" th:action="@{'../savec/'+${entite.id}}" th:object="${crss}" method="post">
      <div class="modal-body" th:each="cr, item: *{crs}">
      	 
        <input  th:id="${'geom'+__${item.index}__}" style="display: none"  type="text" th:field="*{crs[__${item.index}__].geometrie}"/>
        <input  th:id="${'km'+__${item.index}__}" style="display: none"  type="text" th:field="*{crs[__${item.index}__].kilometrage_circuit}"/>
        nom:        <input  class="form-control form-control-lg nom" type="text" placeholder="nom" th:field="*{crs[__${item.index}__].nom}" />
        HLP:        <input  class="form-control form-control-lg hlp" type="text" placeholder="HLP" th:field="*{crs[__${item.index}__].km_HLP}" />
        autre:      <input  class="form-control form-control-lg autre" type="text" value="" placeholder="autre" th:field="*{crs[__${item.index}__].autre}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">ajouter</button>
      </div>
      </form>
    </div>
  </div>
</div>


 <!-- edite modal -->
<div class="modal fade" id="editeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edite </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="savec" action="#" th:action="@{'../editec/'+${entite.id}}" th:object="${cr}" method="post">
      <div class="modal-body">
      
      	<input  id="id" style="display: none"  type="text" th:field="*{id}"/>
        nom:        <input  class="form-control form-control-lg nom" type="text" placeholder="nom" th:field="*{nom}" />
        HLP:        <input  class="form-control form-control-lg hlp" type="text" placeholder="HLP" th:field="*{km_HLP}" />
        autre:      <input  class="form-control form-control-lg autre" type="text" value="" placeholder="autre" th:field="*{autre}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">save</button>
      </div>
      </form>
    </div>
  </div>
</div>

 
<!-- map Modal -->
  <div class="modal fade" id="mapModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Map</h4>
        </div>
        <div class="modal-body">
          <div id="map"  style="width:750px; height:500px"></div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="continuer" type="button" class="btn btn-primary" data-dismiss="modal">continuer</button>
      </div>
      </div>
    </div>
  </div>


   
   
<script>
	$(document).ready(function() {
    $('#points').DataTable();
} );
	$(".buttSup").click(function(){
		id=$(this).find(".id").html();
		a=window.location.href.split("/");
		a=a[a.length-1].split("?");
		ide=a[0];
		href="../supprimerc/"+ide+"?idc="+id;
		$("#exampleModalCenter a[type=submit]").prop("href",href);
	})
	$("#continuer").click(function(){
	$("#savec .nom").val("");
	$("#savec .autre").val("");
	$("#savec .hlp").val("0.0");
	if(kml==null){
		$("#exampleModalLongTitle").html("ajouter un circuit");
		$("#exampleModalLong button[type=submit]").html("ajouter");
		$('#exampleModalLong').modal();
	}
	else{
		$("#savec").submit();
	}
	
	
});
	$("#ajouter").click(function(evt){
		evt.preventDefault();
	    ajouter();
	});
	$(".buttEd").click(function(){
		id=$(this).find(".id").html();
		nom=$(this).find(".nom").html();
		autre=$(this).find(".autre").html();
		hlp=$(this).find(".hlp").html();
		$("#id").val(id).prop("disabled",false);
		$("#nom").val(nom);
		$("#autre").val(autre);
		$("#hlp").val(hlp);
	})
</script>

<script th:inline="javascript">
/*<![CDATA[*/
    kml = /*[[${kml}]]*/ 'default';
    init();
    if(kml!=null && kml!=""){
    	kmllayer = new OpenLayers.Layer.Vector("KML", {
    		strategies: [new OpenLayers.Strategy.Fixed()],
		    protocol: new OpenLayers.Protocol.HTTP({
		        url: "../kml/"+kml,
		        format: new OpenLayers.Format.KML({
		            extractStyles: true, 
		            extractAttributes: true,
		            maxDepth: 2
		        })
		    })
		})
    	 map.addLayer(kmllayer);
    }
/*]]>*/
</script>

</body>
</html>