 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8"/>
<link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css" th:href=@{/bootstrap/bootstrap.min.css}/>
<link rel="stylesheet" href="../static/style.css" type="text/css" th:href=@{/style.css}/>
<link rel="stylesheet" type="text/css" href="../static/css.css" th:href=@{/css.css}/>
<link rel="stylesheet" href="../static/dataTables/dataTables.bootstrap4.min.css" th:href=@{/dataTables/dataTables.bootstrap4.min.css}/>


<script src="bootstrap/jquery-3.1.1.slim.min.js" ></script>
<script src="bootstrap/tether.min.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>
<script src="dataTables/jquery.dataTables.min.js"></script>
<script src="dataTables/dataTables.bootstrap4.min.js"></script>
<script src="openlayers.js"></script>
<script src="circuits.js"></script>

<title>Insert title here</title>
</head>
<body onload="init()">
	<header th:replace="layout :: site-header" />
	<div class="page">
		<div class="row">
    	<div class="col col-lg-6" style="padding-left: 50px">
		<div class="card">
           <div class="card-header">
           		<button id="ajouter" type="button" class="btn btn-primary"> ajouter </button>
           </div>
          </div>
	<table id="points" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
               <th>Nom</th>
               <th>kilometrage</th>
               <th></th>
            </tr>
        </thead>
        <tbody>

       		<tr th:each="c : ${circuits}">
				<td th:text="${c.nom}">nom</td>
				<td th:text="${c.kilometrage_circuit}">kilometrage_circuit</td> 

				<td class="center">
				<button type="button" class="btn btn-primary buttSup" data-toggle="modal" data-target="#exampleModalCenter">
	  			supprimer
	  			<div class="id" th:text="${c.id}" style="display: none"></div>
				</button>
				<button type="button" class="btn btn-primary buttEd" data-toggle="modal" data-target="#exampleModalLong">
	  			editer
	  			<div class="id" th:text="${c.id}" style="display: none"></div>
				</button>
				</td>
			</tr>
        </tbody>
    </table>
    </div>
    <div class="col col-lg-6">
    <div id="map"  style="width:600px; height:500px"></div>
  
        </div>
       </div>
       
       
     <!--   supprimer modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">supprimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red" >
      vous voulez vraiment supprimer cette entite ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="submit" class="btn btn-primary" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>  
          ajouter modal/edite 
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ajouter entite </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{savec}" th:object="${circuit}" method="post">
      <div class="modal-body">
        <input  id="geometry" style="display: none"  type="text" th:field="*{geometrie}"/>
        nom:        <input id="nom" class="form-control form-control-lg" type="text" placeholder="nom" th:field="*{nom}" />
        HLP:        <input id="heure_arrivee" class="form-control form-control-lg" type="text" placeholder="heure_arrivee" th:field="*{heure_arrivee}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">ajouter</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
   
   
   <script type="text/javascript">
	$(document).ready(function() {
    $('#points').DataTable();
} );
	$(".buttSup").click(function(){
		id=$(this).find(".id").html();
		href="supprimerc?id="+id;
		$("#exampleModalCenter a[type=submit]").prop("href",href);
	})
</script>
</body>
</html>