<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>mdina bus</title>
	<link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css.css"/>

	<script src="bootstrap/jquery-3.1.1.slim.min.js" ></script>
	<script src="bootstrap/tether.min.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="dataTables/dataTables.bootstrap4.min.css"></script>
	<script type="text/javascript" src="dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="dataTables/dataTables.bootstrap4.min.js"></script>
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#">M'dina Bus</a>
	  <div class="collapse navbar-collapse " id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Features</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Pricing</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown link
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>
	<div class="page">
		<div class="container">
		<div class="card">
           <div class="card-header">
           		<button id="ajouter" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"> ajouter </button>
           </div>
          </div>
	<table id="entites" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
               <th>Nom</th>
               <th>Adresse</th>
               <th>Type</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
       		<tr th:each="entite : ${entites}">
				<td th:text="${entite.nom}">nom</td>
				<td th:text="${entite.adresse}">adress</td> 
				<td th:text="${entite.type}">type</td>
				<td class="center">
				<button type="button" class="btn btn-primary buttSup" data-toggle="modal" data-target="#exampleModalCenter">
	  			supprimer
	  			<div class="id" th:text="${entite.id}" ></div>
				</button>
				<button type="button" class="btn btn-primary buttEd" data-toggle="modal" data-target="#exampleModalLong">
	  			edite
	  			<div class="id" th:text="${entite.id}" style="display: none"></div>
	  			<div class="nom" th:text="${entite.nom}" style="display: none"></div>
	  			<div class="adresse" th:text="${entite.adresse}" style="display: none"></div>
	  			<div class="type" th:text="${entite.type}" style="display: none"></div>
				</button>
				</td>
			</tr>
        </tbody>
    </table>
    </div>
    </div>
<script type="text/javascript">
$(".buttSup").click(function(){
	id=$(this).find(".id").html();
	href="supprimer?id="+id;
	$("#exampleModalCenter a[type=submit]").prop("href",href);
})
$(".buttEd").click(function(){
	id=$(this).find(".id").html();
	nom=$(this).find(".nom").html();
	adresse=$(this).find(".adresse").html();
	type=$(this).find(".type").html();
	$("#id").val(id).prop("disabled",false);
	$("#nom").val(nom);
	$("#adresse").val(adresse);
	$("#type").val(type);
	$("#exampleModalLongTitle").html("edite "+nom);
	$("#exampleModalLong button[type=submit]").html("save");
})
$("#ajouter").click(function(){
	$("#id").prop("disabled",true);
	$("#nom").val("");
	$("#adresse").val("");
	$("#type").val("ecole");
	$("#exampleModalLongTitle").html("ajouter une entite");
	$("#exampleModalLong button[type=submit]").html("ajouter");
})
</script>

<!--   supprimer modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">supprimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red" >
      vous voulez vraiment supprimer cette entite ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="submit" class="btn btn-primary" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>

<!--   ajouter modal/delete -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ajouter entite </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{/save}" th:object="${entite}" method="post">
      <div class="modal-body">
        <input  id="id" style="display: none" class="form-control form-control-lg" type="text" placeholder="nom" th:field="*{id}" disabled="disabled"/>
        nom:        <input id="nom" class="form-control form-control-lg" type="text" placeholder="nom" th:field="*{nom}" />
        adresse:    <input id="adresse" class="form-control form-control-lg" type="text" placeholder="adresse" th:field="*{adresse}" />
        type:       <select id="type" class="form-control" th:field="*{type}">
				      <option value="ecole">ecole</option>
				      <option value="association">association</option>
				    </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">ajouter</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
    $('#entites').DataTable();
} );
</script>
</body>
</html>