<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head th:fragment="site-head">
<title>mdina bus</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css.css"/>
	<link rel="stylesheet" type="text/css" href="/dataTables/dataTables.bootstrap4.min.css"/>
	
	<script src="/bootstrap/jquery-3.1.1.slim.min.js" ></script>
	<script src="/bootstrap/tether.min.js"></script>
	<script src="/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/dataTables/dataTables.bootstrap4.min.js"></script>
	
	

</head>
<body>
<header th:fragment="site-header">
<style>
#btLogout{
	
	position: absolute; 
    font-weight: bold;
    color: blue;
   
	
}

</style>
<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="navbar-brand" >M'dina Bus</div>
	  <div class="collapse navbar-collapse " id="navbarNavDropdown">
	    <ul class="navbar-nav">
	    <div sec:authorize="hasRole('ROLE_ADMIN')">
	      <li class="nav-item ">
	        <a class="nav-link" th:href="@{/entites}" > Dessin</a>
	      </li>
	      </div>
	     
	      <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_E_ROULEMENT')">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/roulement}">Roulement</a>
	      </li>
	      </div>
	    <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_E_CONSOMMATION')">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/consomation}">Consommation</a>
	      </li>
	       </div>
	      <li class="nav-item">
	        <a id="btLogout" class="nav-link" th:href="@{/logout}"> Logout  </a>
	      </li>
	      
	    </ul>
	  </div>
	</nav>
	
</header> 
</body>
</html>




   